<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Know the World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
<style>
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Sen&family=Splash&display=swap');
</style>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <%= yield %>

</body>
</html>
