body {
  margin-left: 40px;
  margin-right: 40px;
  background-color: #FFF5E1;
  font-family: 'Sen', sans-serif;
}


.title-container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.form-index-container {
  display: flex;
}

.logo {
  max-width: 100%;
  display: flex;
}


.top-button-container-inside {
  display: flex;
}

.header-hello {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  color:  #0E918C;
  font-size: 4rem;
  margin-bottom: 100px;
  margin-top: 0;
}

button, a:link, a:visited{
  background-color: white;
  color: black;
  border: 3px solid #0E918C;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 6px;
}

a:hover, a:active {
  background-color: #0E918C;
  color: white;
}

button:hover {
  background-color: #0E918C;
  color: white;
}


.signup-button {
  margin: 10px;
  width: 80px;
  text-decoration: none;
}

.add-travel-button {
  margin: 10px;
  width: 80px;

}

.logout-button {
  margin: 10px;
  width: 80px;
  height: 50px
}

.signin-button {
  margin: 10px;
  width: 80px;
}

.edit-button {
  margin: 10px;
  width: 80px;
}

.delete-button {
  margin: 10px;
  width: 120px;
  height: 70%;
}

.title-and-image-container {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 100px;
}

.sub-title{
  font-family: 'Indie Flower', cursive;
  color:  #0E918C;
  font-size: 3rem;
  margin-left: 25px;

}
.main-text-container {
  max-width: 100%;
  padding-right: 2px;
 font-family: 'Sen', sans-serif;
 font-size: 1.5rem;
 text-align: justify;
 padding-right: 25px;
 color: #3C4245 ;
}

.front-image {
  padding-left: 2px;
  max-width: 100%;
  margin-top: 50px;
}

.travel-image {
  max-width: 100%;
  width:  400px;
  height: 400px;
  object-fit: cover;
}

.travel-list {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1.25rem;
  margin-top: 1.5rem;
}

 

.travel-item {
  text-align: center;
  padding: 8px;
  background-color: white;
  padding: 10px;
  float: left;

}

.travel-title {
font-weight: bold;
}

.control-container {
  display: flex;
  justify-content: center;
}

.add-travel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.form-container input{
  width: 40%;
  height: 20px;
}

.form-container button{
  margin-top: 10px;
  width: 20%;
}

.add-title-title {
  margin-top: 0;
}