<div>
  <div class="title-container">
    <img class="logo" src="https://i.postimg.cc/xCnVMmzc/20220914-194832-0000-removebg-preview.png" alt="">
   
  </div>
  
</div>
<div class="add-travel-container">
  <h1 class="add-title-title">Login</h1>
  <form class="form-container" action="/sessions" method="POST">
    <label for="">Email: </label>
    <input type="text" name="email">

    <label for="">Password: </label>
    <input type="password" name="password">

    <button>Log in</button>
  </form>
</div>