<div>
  <div class="title-container">
    <img class="logo" src="https://i.postimg.cc/xCnVMmzc/20220914-194832-0000-removebg-preview.png" alt="">
   
  </div>
  
</div>
<div class="add-travel-container">
<h1 class="add-title-title">Let's share your travel experience</h1>
  <form class="form-container" action="/travels" method="POST">
    <label for="">City: </label>
    <input type="text" name="city">

    <label for="">Country: </label>
    <input type="text" name="country">

    <label for="">Image URL: </label>
    <input type="text" name="image_url">

    <label for="">Title: </label>
    <input type="text" name="title">

    <label for="">Description: </label>
    <textarea rows="8" cols="60" type="text" name="description"></textarea>

    <button>Add Travel</button>
  </form>
  <h3>
    Thanks for sharing.
  </h3>
</div>